body {
    background-image: url("../images/brick.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
    min-height: 100vh;
    justify-content: center;
}
#spacer {
    background-color: transparent;
    height: 100px;
}

.moveTrainContainer {
    background-color: transparent;
    z-index: 10;
}


#trainTop {
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
    
}

.trainImg {
    position: relative;
    /*z-index: 10;*/
    transform: scaleX(-1);
    filter: FlipH;
    height: 100px;
    animation: train_amin 10s linear infinite;
    animation-delay: 10s-30s; 
}

.trainImg2 {
    position: relative;
    /*z-index: 10;*/
    height: 100px;
}


#trainMid1 {
    
    position: relative;
    top: 300px;
    width: 100%;
    margin: 0 auto;
    /*z-index: 10;*/
    animation: train_amin_reverse 10s linear infinite;
    animation-delay: 10s;
    overflow: hidden;

   }


@keyframes train_amin 
{
    
    0% {
        left: 0%;
    }
   
    100% {
        left: 100%;
    }
    
}

@keyframes train_amin_reverse 

{
    
    0% {
        left: 100%;
    }
   
    100% {
        left: 0%;
    }
    
}

@font-face {
    font-family: "IFC_RAILROAD";
    src: url("ifc_railroad.ttf") format('ttf');
}

.pageTitle {

    text-align: center;
    color: black;
    margin-bottom: 0;
    font-size: 80px;
    width: 90%;
    z-index: 25;
    
}

h1 {
   font-size: 80px;
   font-family: '';
   color:white;
   padding:30px;
   background-color: black;
   z-index: 25;
}

h2 {
    font-size: 40px;
    font-family: 'IFC_RAILROAD', Arial, Helvetica, sans-serif;
    color: red;
    padding:10px;
    background-color: black;
    z-index: 25;
}

h3 {
    font-size: 20px;
    margin: 0;
    z-index: 25;
}
.table {
    padding: 10px;
    border:solid black;
    height: 20px;
    z-index: 25;
}


#tableContainer {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    border: double 5px black;
    background-color: whitesmoke;
    z-index: 25;
}

.tableGroup {
    z-index: 25;
    width: 90%;
    height: 400px;
    justify-content: center;
    align-items: center;
    max-height: 400px;
   
}

#tableTitle {
    z-index: 25;
    padding: 20px;
    width: 100%;
    color: red;
    height: 30px;
    background-color: black;
}


#trainTable {
    z-index: 25;
    border: double 2px black;
    width: 100%;
    background-size: 90%;
    height: 80px;
    background-color: transparent;

}
#tableContent {
    z-index: 25;
    border: double 2px black;
    height: 80%;
    text-align: center;
}

.formGroup {
    z-index: 25;
    border: double 2px black;
    width: 90%;
    align-content: center;

}

form {
    z-index: 25;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.form-control {
    z-index: 25;
    background-color: transparent;
    border: solid 2px red;
    margin: 10px 0;
   
}

#submitTrainInfo {
    z-index: 25;
    background-color: red;
    color: lightblue;
    
}
#submitFormTitle {
    z-index: 25;
    padding:10px;
    background-color: black;
    color:red;
    width: 100%;
}

footer {
    font-style: italic;
    font-size: 18px;
    background-color: transparent;
    height: 100px;
    text-align: center;
    padding: 30px;
    
}

